* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 790px;
    background-color: #88c4f8;
}

.navbar {
    width: 500px;
    height: 20px;
    margin: auto;
}

.icon {
    width: 100px;
    height: 80px;
}

.logo {
    color: #018d02;
    font-size: 80px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    height: 150px;
    margin-left: -400px;
}

.menu {
    width: 400px;
    float: left;
    height: -500px;
    margin-left: -320px;
    margin-top: -180px;
    height: 0px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.search {
    width: 330px;
    float: left;
    margin-left: 50px;
}

.menu .active {
    color: #ff8201;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff8201;
    border: 2px solid #ff8201;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 600px;
    height: auto;
    margin: auto;
    color: #fff;
    float: left;
    position: relative;
    margin-top: -50px;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 35px;
    margin-left: 200px;
    height: 50px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 100px;
    letter-spacing: 2px;
    margin-left: -450px;
}

.content .cn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 100px;
    margin-left: -350px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 2%;
    color: #000;
    transition: .3s ease;
    margin-top: -90px;
    margin-left: -410px;
}

.content .cn a {
    text-decoration: none;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #ff7200;
    font-size: 60px;
}

.discount {
    color: #fff;
    margin-top: 50px;
    padding-left: 2px;
    float: left;
    margin-left: -410px;
}

.slides {
    width: 100%;
    height: 100%;
    margin-top: -400px;
}

.form {
    width: 260px;
    height: 340px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    margin-top: -10px;
    left: 1600px;
    border-radius: 10px;
    padding: 25px;
    margin-left: -470px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    cursor: pointer;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: white;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #ff7200;
}

.btnn a {
    text-decoration: none;
    color: rgb(249, 242, 242);
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.form .link a {
    text-decoration: none;
    color: #fff;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: #fff;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #ff7200;
}